<!-- templates/home.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Cupboard Interactive Cookbook Cooking</title>
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='mainLogo(1).png')}}">
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/test.css') }}">
</head>
<body>

<div class="header">
  <h1>Cupboard Cooking</h1>
</div>

<div class="navbar">
  <div class="col-md-3 sidebar-banner">
    <div class="col-md-3">
      <!-- <ul class="nav flex-column mt-4">
        <li class="nav-item"> -->
          <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
        <!-- </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#cookbook">Cookbook</a>
        </li> -->
        <!-- <li class="nav-item"> -->
          <a class="nav-link" href="{{ url_for('recipes') }}">All Recipes</a>
        <!-- </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#profile">Profile</a>
        </li> -->
      <!-- </ul> -->
    </div>
  </div>
</div>

<div class="row">
  <div class="side">
    <h2>Categories</h2>
    <p>Appetizers</p>
    <p>Soups & Salads</p>
    <p>Sides</p>
    <p>Baking</p>
    <p>Entree</p>
    <p>Sauces</p>
  </div>
  <div class="main">
    <h2>Recipes</h2>
    <p>Banana Bread - 20 mins</p>
    <p>Roasted Chicken - 30 mins</p>
    <p>Pork Stirfry - 25 mins</p>
  </div>
</div>

</body>
</html>
