<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupboard Cooking</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='mainLogo(1).png')}}">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Show error or success messages if there are any -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Check to see if there are any messages to show -->
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container-fluid">
        <div class="row">
            <!------------------------------------------------------------------ Top Banner ----------------------------------------------------------------------->
            <div class="col-12 top-banner">
                <!-- <img src="{{url_for('static', filename='mainLogo.png')}}" alt="logo" align="right" height="120px"/> -->
                <!-- How you create a block to be able to change when adopting the template -->
                <h1>{% block title %} {% endblock %}</h1>
                <div class="navbar col-12">
                    <p><a class="nav-link active" href="{{ url_for('home') }}">Home</a></p>
                    <p><a class="nav-link" href="{{ url_for('recipes') }}">All Recipes</a></p>
                    <p><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></p>
                </div>
            </div>
            <!------------------------------------------------------------------- Sidebar Banner -------------------------------------------------------------------->
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-md-3 hidden-xs hidden-sm hidden-md sidebar-banner"> <!--"col-md-3 hidden-xs hidden-sm hidden-md sidebar-banner">-->
                <div class="col-md-3">
					<ul class="nav nav-pills flex-column mb-auto">
						<h2>Categories</h2>
                        <p>Appetizers</p>
                        <p>Soups & Salads</p>
                        <p>Sides</p>
                        <p>Baking</p>
                        <p>Entree</p>
                        <p>Sauces</p>
					</ul>
				</div>
            </div>
            <!----------------------------------------------------------------------- Main Content -------------------------------------------------------------------->
            <div class="col-md-9 main-content">
                <div class="row">
                    <!-- Code for listing owned items -->
                    {% block code %} {% endblock %}
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>
