{% extends 'baseTemplate.html' %}

{% block title %}<br>Find Recipe{% endblock %}
{% block code %}

<body>
    <form action="/findsomerecipes" method="get">
        <div>Put Ingredients in seperated by commas and no spaces, ex.: eggs,butter,flour</div>
        <div data-mdb-input-init class="form-outline mb-3">
            <label for="Ingredients">Ingredients I Have</label>
            <input required type="text" id="Ingredients" name="Ingredients">
        </div>

        <div>
            <label for="category">Choose a Category:</label>
            <select id="category" name="category">
                <option value="Dinner">Dinner</option>
                <option value="Lunch">Lunch</option>
                <option value="Breakfast">Breakfast</option>
                <option value="Dessert">Dessert</option>
                <option value="Side">Side</option>
            </select>
        </div>
        <div>
            <button id="submit" name="submit" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;">Find Recipes!</button>
        </div>
    </form>

</body>
{% endblock %}