{% extends 'baseTemplate.html' %}

{% block title %}<br>My Cookbook{% endblock %}
{% block code %}
{% for recipe in recipes %}
<div>
    <article class="recipe">
       <div class="pizza-box">
        <img src="{{url_for('static', filename='recipe_pictures/' + recipe[7])}}" width="500" alt="">
       </div>
       <div class="recipe-content">
            <p class="recipe-tags">
               <span class="recipe-tag">{{ recipe[6] }}</span>
               <!-- <span class="recipe-tag">Main dish</span> -->
            </p>

            <h3 class="recipe-title">
                <form action="{{ url_for("recipe") }}" method="post">
                    <input type="hidden" name="recipe_id" value="{{ recipe[0] }}"/>
                    <button type="submit" value="Submit">{{ recipe[5] }}</button>
                </form>
            </h3>

           <p class="recipe-metadata">
               <span class="recipe-rating">{{ recipe[1] }}<!-- ★★★★<span>☆</span> --></span>
               <!-- <span class="recipe-votes">(12 votes)</span> -->
           </p>
           <p class="Recipe_remove">
            <form action="{{ url_for('rem_recipe')}}" method="post">
                <input type="hidden" name="kill_recipe_id" value="{{recipe[0]}}"/>
                <button id="remRecipe_{{loop.index}}" name="delete" type="delete" 
                style="border-radius: 50%; background-color: rgb(96, 14, 14);
                padding: 5px; font-size: 12px;"> X </button>
            </form>
        </p>
       </div>
   </article>
</div>
{% endfor %}
{% endblock %}