<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupboard Cooking</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='mainLogo(1).png')}}">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="{{ url_for('static', filename='mainLogo.png') }}"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form action="/new-user" method="post">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="emailaddress2" name="emailaddress2" class="form-control form-control-lg"
                placeholder="Enter a valid email address" required/>
              <label class="form-label" for="emailaddress2">Email address</label>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-3">
              <input type="password" id="password2" name="password2" class="form-control form-control-lg"
                placeholder="Enter password" required/>
              <label class="form-label" for="password2">Password</label>
            </div>
            
            <!-- Confirm password input -->
            <div data-mdb-input-init class="form-outline mb-3">
              <input type="password" id="confirmpassword2" name="confirmpassword2" class="form-control form-control-lg"
                placeholder="Confirm password" required/>
              <label class="form-label" for="confirmpassword2">Confirm Password</label>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" value="Submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="{{ url_for('login') }}"
                  class="link-danger">Login</a></p>
            </div>
            <!-- {% if error %}
              <div class="error">{{ error }}</div>
            {% endif %} -->
          </form>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright Cupboard Cooking© 2024. All rights reserved.
      </div>
    </div>
  </section>
</body>
</html>