{% extends 'baseTemplate.html' %}

{% block title %}<br>Shopping List{% endblock %}
{% block code %}
{% for recipe in recipes %}
<div>
    <article class="recipe">
       <div class="recipe-content">
            <p class="recipe-tags">
               <span class="recipe-tag">{{ recipe[6] }}</span>
               <!-- <span class="recipe-tag">Main dish</span> -->
            </p>

            <h3 class="recipe-title">
                <form action="{{ url_for("recipe") }}" method="post">
                    <input type="hidden" name="recipe_id" value="{{ recipe[0] }}"/>
                    <button type="submit" value="Submit">{{ recipe[5] }}</button>
                </form>
            </h3>

           <p class="recipe-metadata">
               <span class="recipe-rating">{{ recipe[1] }}<!-- ★★★★<span>☆</span> --></span>
               <!-- <span class="recipe-votes">(12 votes)</span> -->
           </p>
       </div>
   </article>
</div>
<!-- <li>RecipeID: {{ recipe[0] }} - Rating: {{ recipe[1] }} - Difficulty: {{ recipe[2] }} - Directions: {{ recipe[3] }} - Duration: {{ recipe[4] }} - Title: {{ recipe[5] }} - Catagory: {{ recipe[6] }} - Picture: {{ recipe[7] }}</li> -->
{% endfor %}
{% endblock %}