{% extends 'baseTemplate.html' %}

{% block title %}
    Shopping List
{% endblock %}

{% block code %}
    <div class="shopping-list">
        <ul>
            {% for item in itemList %}
                <li style="display: flex; align-items: center;">{{ item[0] }}<br>
                    <form action="{{ url_for('rem_item')}}" method="post">
                        <input type="hidden" name="item_name" value="{{item[0]}}"/>
                        <button id="remItem_{{loop.index}}" name="delete" type="delete" 
                        style="border-radius: 50%; background-color: red;"> - </button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
